.contents
  = render 'shared/side_bar'

  .right_contents
    .right_header
      .right_header__box
        %p.right_header__box__name
          = @group.name
        %p.right_header__box__members
          Members: 
          - @group.users.each do |user|
            = user.name

      .right_header__edit-box
        = link_to edit_group_path(@group), class: "right_header__edit-box__link", data: {"turbolinks" => false } do 
          Edit

    .right_chat
      .left-box
        = render @messages
      
      
    -# .right_chat
    -#   .left-box
    -#     .message-title
    -#       .message
    -#         mai
    -#       %p.message_date
    -#         2019/07/08(Mon) 13:27:47
    -#     %p.message_text
    -#       aaa
    -#     .message-title
    -#       .message
    -#         mai
    -#       %p.message_date
    -#         2019/07/08(Mon) 13:27:47
    -#     %p.message_text
    -#       aaa
    -#     .message-title
    -#       .message
    -#         mai
    -#       %p.message_date
    -#         2019/07/08(Mon) 13:27:47
    -#     %p.message_text
    -#       aaa

    .footer
      = form_for [@group, @message], html: {class: 'footer__form'} do |f|
        .footer__form__input_box
          = f.text_field :content, class: 'footer__form__input_box__text', placeholder: 'type a message'
          = f.label :image, class: 'footer__form__input_box__attachment' do
            = fa_icon 'image', class: 'fa-lg'
            = f.file_field :image, class: 'footer__form__input_box__attachment__file'
        = f.submit 'Send', class: 'footer__form__btn'

 
        
